<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cn.xtouch.fodelforuser"
    android:versionCode="1"
    android:versionName="1.0" xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21"
        tools:ignore="OldTargetApi" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name="com.cn.xtouch.fodelforuser.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.MyTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_app_key" />
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="563ff8d767e58e87fc0031b5" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Channel ID" />

        <activity android:name="com.cn.xtouch.fodelforuser.activity.SplashActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cn.xtouch.fodelforuser.activity.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cn.xtouch.fodelforuser.activity.ChangeAddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cn.xtouch.fodelforuser.activity.LogisticInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cn.xtouch.fodelforuser.activity.AboutMeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cn.xtouch.fodelforuser.activity.EditInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cn.xtouch.fodelforuser.activity.HistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cn.xtouch.fodelforuser.activity.HelpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cn.xtouch.fodelforuser.activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cn.xtouch.fodelforuser.activity.SignUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cn.xtouch.fodelforuser.activity.ForgotPwdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cn.xtouch.fodelforuser.activity.LogisticCommentActivity"
            android:screenOrientation="portrait" />

        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" >
        </service>

        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
    </application>

</manifest>